<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Demo Portal</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
* {
	font-family: sans-serif;
}
.container {
	margin: 0 auto; 
	text-align: center; 
	width: 60%;
	padding: 20px;
}
.service-status-box {
	clear: both;
	padding: 30px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.header-title {
	float: left; 
	text-align: right;
	margin-bottom: 10px;
}
.header-title h1 {
	margin-bottom: 0;
}
.header-links {
	float: right; 
	padding: 0; 
	margin: 0;
}
.header-links span {
	font-size: small;
	float: right;
	clear: both;
}
</style>
</head>
<body>

	<div class="container">

		<div class="header-title">
			<h1>Demo Portal</h1>
		</div>

		<div class="header-links">
			<span sec:authentication="name"></span> 
			<span th:text="${studentName}"></span> 
			<span th:text="${studentId}"></span>
			<span><a th:href="@{/logout}">Sign Out</a></span>
		</div>

		<div class="service-status-box" style="background-color: #9BD9D9;">
			<p th:text="${emailStatus}"></p>
		</div>

		<div class="service-status-box" style="background-color: #6F8B8B;">
			<p th:text="${classTimetable}"></p>
		</div>

	</div>

</body>
</html>