<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{demoLayout}">

<head>
<title th:text="#{cas.login.pagetitle}"></title>
</head>

<body id="cas" class="login">
	<div layout:fragment="content">
		<div class="row">
			<div class="col">
				<div th:replace="fragments/demoLoginform" />
			</div>
		</div>
	</div>
</body>
</html>