<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{demoLayout}">

<head>
<title th:text="#{screen.service.error.header}"></title>
</head>

<body id="cas">
	<div layout:fragment="content">
		<div class="alert alert-danger">
			<h1 th:utext="#{screen.service.error.header}" />
			<p
				th:if="${rootCauseException != null and rootCauseException.code != null}"
				th:utext="#{${rootCauseException.code}}" />
		</div>
	</div>
</body>
</html>