<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Demo SSO</title>

<link rel="stylesheet" th:href="@{#{webjars.fontawesomemin.css}}" />
<link type="text/css" rel="stylesheet" th:href="@{#{webjars.bootstrapmin.css}}" />
<link type="text/css" rel="stylesheet" th:href="@{#{webjars.latomin.css}}" />
<link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}" />

<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />

<script type="text/javascript" th:src="@{#{webjars.zxcvbn.js}}"></script>
<script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
<script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
<script type="text/javascript" th:src="@{#{webjars.jquerycookie.js}}"></script>
<script src="//www.google.com/recaptcha/api.js" async defer th:if="${recaptchaSiteKey}"></script>
<script th:src="@{#{webjars.bootstrapmin.js}}"></script>
</head>

<body>

	<div id="container" class="container">
		<div layout:fragment="content" id="content"/>
		<div th:replace="fragments/demoFooter"/>
	</div>
	
</body>
</html>